.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardContainer {
  width: 91vw;
}
.closeButton {
  display: flex;
  justify-content: flex-end;
  font-size: 4.5vh;
  font-weight: 100;
  color: #958CF7;
  opacity: 0.5;
  height: 5vh;
}
.cardImageDiv {
  height: 26vh;
}
.cardImage{
  border-radius: 2vh;
  height: 100%;
  width:100%;
}
/* .icon {
  width: 6vw;
  height: 3vh;
} */
.subMenuContainer {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}
.infoBlock {
  font-size: 2vh;
  line-height: 1;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.infoBlock__eventTitle {
  text-transform: uppercase;
  font-weight: 500;
}
.infoBlock__eventLocation{
  text-transform: uppercase;
}
.buttonsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 1.3vh;
  font-weight: 400;
}
.buttonsBlock__buttonTickets {
  background-color: #AF41C0;
  color: #FFFFFF;
  border-radius: 2vh;
  border: 0.1vw solid #AF41C0;
  min-width: 22vw;
  min-height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2vw;
}
.buttonsBlock__buttonsRouteContainer {
  display:flex;
  justify-content: flex-end;
}
.buttonsBlock__locationIcon {
  filter: invert(36%) sepia(86%) saturate(2195%) hue-rotate(268deg) brightness(79%) contrast(86%);
  height: 3.4vh;
  padding-right: 1vw;
}
.buttonsBlock__buttonRoute {
  color: #AF41C0;
  border-radius: 2vh;
  border: 0.1vw solid #AF41C0;
  min-width: 22vw;
  min-height: 3vh;
  text-align: center;
  padding: 0 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  white-space: nowrap;
}
.eventInfoContainer {
}
.eventInfoContainer__header {
  font-size: 2vh;
  font-weight: 500;
  margin: 12px 0px;
}
.eventInfoContainer__description {
  font-size: 1.8vh;
  font-weight: 400;
  height: 38vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #D4AA70 #E4E4E4;
  padding-right: 4vw;
  text-align: justify;
}
.eventInfoContainer__description::-webkit-scrollbar {
  width: 2vw;
}
.eventInfoContainer__description::-webkit-scrollbar-track {
  border: 1px solid #AF41C0;
  border-radius: 5vw;
}
.eventInfoContainer__description::-webkit-scrollbar-thumb {
  background-color: #AF41C0;
  border-radius: 5vw;
}
